@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 1;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 1;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #84CEEB, #5680E9);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .1rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: scale(1.2);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  border-radius: 1rem;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all .2s;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--purple {
  background-color: #8860D0;
  color: #fff; }

.btn--animated {
  animation: moveInBottom 1s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #5AB9EA;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #5AB9EA;
  padding: .3rem;
  transition: all .2s; }

.btn-text:hover {
  color: #fff;
  background-color: #5AB9EA;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-0.2rem); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: .2rem;
    position: absolute;
    z-index: 5;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      outline: 1.5rem solid #5AB9EA;
      z-index: 10; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  color: #8860D0;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .2s; }
  .feature-box:hover {
    transform: scale(1.05) translateY(-1.5rem); }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #84CEEB, #5680E9);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent; }

.blank {
  background-color: inherit;
  box-shadow: 0 0 0; }
  @media only screen and (max-width: 75em) {
    .blank {
      display: none; } }

.row {
  max-width: 112rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 75em) {
      .row:not(:last-child) {
        margin-bottom: 0; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 75em) {
    .row {
      max-width: 90%; } }
  .row [class^="col"] {
    float: left; }
    .row [class^="col"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); }
    @media only screen and (max-width: 75em) {
      .row .col-1-of-3 {
        width: 100%;
        margin-bottom: 3rem; } }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 6rem * 2) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc(6rem + 2 * ((100% - 6rem * 3) / 4)); }
  .row .col-3-of-4 {
    width: calc(2 * 6rem + 3 * ((100% - 6rem * 3) / 4)); }

.header {
  height: 40vh;
  background-image: linear-gradient(to right bottom, rgba(132, 206, 235, 0.6), rgba(86, 128, 233, 0.6));
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 20vh, 100% 20vh, 0 100%);
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 2%;
    text-align: left; }
    @media only screen and (max-width: 75em) {
      .header__text-box {
        top: 35%; } }
  @media only screen and (max-width: 75em) {
    .header {
      height: 20vh;
      clip-path: none;
      background-image: linear-gradient(to right, rgba(132, 206, 235, 0.6), rgba(86, 128, 233, 0.6)); } }

.section-features {
  padding: 5rem 0;
  background-image: linear-gradient(to right bottom, rgba(132, 206, 235, 0.7), rgba(86, 128, 233, 0.7));
  background-size: cover;
  background-position: top;
  margin-top: 5rem; }
  .section-features--heading {
    text-align: center;
    font-size: 3rem;
    color: #fff; }
  @media only screen and (max-width: 75em) {
    .section-features {
      padding: 3rem; } }

.section-resume {
  padding: 0 0 3rem 0;
  margin-top: -2vh;
  position: relative; }
  .section-resume--btn {
    margin: 0 auto;
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .section-resume--btn {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
  @media only screen and (max-width: 75em) {
    .section-resume {
      margin-top: 4vh; } }

@media only screen and (max-width: 75em) {
  .section-contact {
    background-image: linear-gradient(to right, rgba(132, 206, 235, 0.6), rgba(86, 128, 233, 0.6));
    background-size: cover; } }

.contact-info {
  color: #8860D0;
  font-size: 2rem; }
  .contact-info--icon {
    padding-right: 1rem; }
  .contact-info--text {
    display: inline; }
  @media only screen and (max-width: 75em) {
    .contact-info {
      color: #fff; } }
