.section-resume {
  padding: 20rem 0;
  margin-top: -20vh;
  position: relative;

  &--btn {
    margin: 0 auto;
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
