.section-contact {
  margin-top: 1rem;
  
  @include mobile {
    text-align: center;
  }
}

.contact-info {
  color: $color-purple;
  font-size: 2rem;

  &--icon {
    padding-right: 1rem;
  }

  &--text {
    display: inline
  }


}
