.section-contact {
  @include mobile {
    background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.6),
      rgba($color-primary-dark, 0.6)
      );
    background-size: cover;
  }
}

.contact-info {
  color: $color-purple;
  font-size: 2rem;

  &--icon {
    padding-right: 1rem;
  }

  &--text {
    display: inline
  }

  @include mobile {
    color: $color-white;
  }
}
